# python program to scrape data for “Data Analyst” Job position in“Bangalore” location.
You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data

In [2]:
#import all libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
pd.set_option('display.max_columns', None)

In [8]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [9]:
#first get the webpage https://www.naukri.com/
driver.get('http://www.naukri.com/')

In [10]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field 
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
## and enter “Bangalore” in “enter the location” field 
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys('Bangalore')

In [11]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [12]:
#specifying the url of the web page to be scraped
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [13]:
#lets open the web page through our web driver
driver.get(url)

In [15]:
#Lets create 4 empty lists
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_List=[]

In [17]:
#scrape the data for the first 10 jobs results you get
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_Title.append(i.text)
Job_Title[:10]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst',
 'NiFi Data Analyst']

In [29]:
for i in driver.find_elements_by_xpath("li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    Job_Location.append(i.text)
Job_Location[:10]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [31]:
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    Company_Name.append(i.text)
Company_Name[:10]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data',
 'Capgemini Technology Services India Limited']

In [32]:
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']"):
    Experience_List.append(i.text)
Experience_List[:10]

['1-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs',
 '4-6 Yrs']

In [35]:
Data_Analyst=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs 
Data_Analyst['Job Title']=Job_Title[:10]
Data_Analyst['Job Location']=Job_Location[:10]
Data_Analyst['Company Name']=Company_Name[:10]
Data_Analyst['Experience Required']=Experience_List[:10]
print("\n")

print('The DataFrame for First 10 Data_Analyst Jobs on https://www.naukri.com/ is :')
Data_Analyst

The DataFrame for First 10 Data_Analyst Jobs on https://www.naukri.com/ is :

,Job Title,Job Location,Company Name,Experience Required
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
2,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
3,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
4,Security Data Analyst,Bengaluru,Philips India Limited,2-4 Yrs
5,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,5-9 Yrs
6,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
7,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
8,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs
9,NiFi Data Analyst,Bengaluru,Capgemini Technology Services India Limited,4-6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [13]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [14]:
#first get the webpage https://www.naukri.com/
driver.get('http://www.naukri.com/')

In [15]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field 
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
#enter “Bangalore” in “enter the location” field 
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys('Bangalore')

In [16]:
search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_buton.click()

In [17]:
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Job_Description=[]

In [18]:
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Jobs_Title.append(i.text)

In [19]:
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
    Job_Location.append(i.text)

In [20]:
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    Company_Name.append(i.text)

In [24]:
for i in driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']"):
    Job_Description.append(i.text)
Job_Description[:10]

['In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'BS / MS/PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'Experience working with some of the following frameworks and libraries: Pandas, Numpy, ...',
 'BE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, ...',
 'Role Sr. Data ScientistExp. 12 – 20 yearsLocation – Pune/Bangalore Job Description:BE o...',
 'Experience with application development practices at scale, from problem definition to ...',
 'Logical and Analytical skills must be really strongShould have experience with atleast ...',
 'Experience in life sciences and health care industry preferredCandidate should have exp...',
 'Graduate/ Post GraduateDevelop a strong rapport with the client, understand their needs...']

In [27]:
jobs=pd.DataFrame({})
jobs['job_titles']=Jobs_Title[:10]
jobs['Job_Location']=Job_Location[:10]
jobs['Company_Name']=Company_Name[:10]
jobs['Full Job Description']=Job_Description[:10]
jobs

,job_titles,Job_Location,Company_Name,Full Job Description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",Inflexion Analytix Private Limited,In case you are trying to shift your career to...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd,"BS / MS/PhD in Computer Science, Statistics, A..."
2,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,"BS/ MS/ PhD in Computer Science, Statistics, A..."
3,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Experience working with some of the following ...
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,"BE or MS or PhD degree in Computer Science, Ar..."
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,Role Sr. Data ScientistExp. 12 – 20 yearsLocat...
6,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,Experience with application development practi...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Logical and Analytical skills must be really s...
8,Data Scientist- Manager/Sr. Manager,Bengaluru,GENPACT India Private Limited,Experience in life sciences and health care in...
9,Sr Data Scientist,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",Concentrix Daksh Services India Private Limited.,Graduate/ Post GraduateDevelop a strong rappor...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
    
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

get the webpage https://www.naukri.com/

In [46]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [47]:
#first get the webpage https://www.naukri.com/
driver.get('http://www.naukri.com/')

In [48]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field 
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [49]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [51]:
#applying location filter
location_chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-Delhi/NCR-cityType-']/i")
location_chk.click()

In [54]:
#applying salary filter
salary_chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
salary_chk.click()

In [55]:
#specifying the url of the web page to be scraped
url='https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6'

In [56]:
#lets open the web page through our web driver
driver.get(url)

In [57]:
#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [58]:
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Jobs_Title.append(i.text)
Jobs_Title[:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Business Analyst - Data Scientist',
 'Analyst - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - NLP']

In [59]:
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    Job_Location.append(i.text)
Job_Location[:10]

['Gurgaon Gurugram',
 'Gurgaon Gurugram',
 'Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon',
 'Gurgaon',
 'Gurgaon',
 'Faridabad, Delhi NCR, Ghaziabad',
 'Bengaluru, Gurgaon',
 'Delhi',
 'Delhi NCR']

In [60]:
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    Company_Name.append(i.text)
Company_Name[:10]

['IBM India Pvt. Limited',
 'Ciena',
 'Country Veggie',
 'Delhivery',
 'HyreFox Consultants Pvt Ltd',
 'HyreFox Consultants Pvt Ltd',
 'Amity University',
 'BlackBuck',
 'iNICU',
 'IRIS SOFTWARE Inc']

In [61]:
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
    Experience_Required.append(i.text)
    
Experience_Required[:10]

['4-8 Yrs',
 '5-6 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '6-8 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '4-9 Yrs']

In [62]:
 #Creating Data Frame for Job details storing
job_lst = pd.DataFrame({})
job_lst['Job Title'] =Jobs_Title[:10]
job_lst['Job Location'] = Job_Location[:10]
job_lst['company name'] = Company_Name[:10]
job_lst['Experience_Required'] =Experience_Required[:10]
job_lst

,Job Title,Job Location,company name,Experience_Required
0,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,4-8 Yrs
1,Data Scientist,Gurgaon Gurugram,Ciena,5-6 Yrs
2,Data Scientist,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Country Veggie,1-3 Yrs
3,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
4,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
5,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs
6,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
7,Data Scientist,"Bengaluru, Gurgaon",BlackBuck,3-7 Yrs
8,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
9,Senior Data Scientist - NLP,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs

# Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
 https://www.glassdoor.co.in/index.htm

In [148]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [149]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [147]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [157]:
job_search=driver.find_element_by_id('sc.keyword')
job_search.send_keys('Data Scientist')
location=driver.find_element_by_id('sc.location')
location.send_keys('Noida')

In [158]:
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [172]:
#specifying the url of the web page to be scraped
url='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'
driver.get(url)

In [173]:
company_name=[]
days_posted=[]
rating=[]

In [174]:
for i in driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a[1]/span[1]"):
    company_name.append(i.text)
company_name[:10]

['Biz2Credit Inc',
 'Adobe',
 'Emerging India Group',
 'Dürr Somac GmbH',
 'WishFin',
 'Yellow Class',
 'Techlive',
 'Kronos Incorporated',
 'Dürr AG',
 'Salasar New Age Technologies']

In [175]:
for i in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
    days_posted.append(i.text)
days_posted[:10]

['30d+', '4d', '30d+', '30d+', '13d', '1d', '30d+', '2d', '30d+', '30d+']

In [176]:
for i in driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']/span[1]"):
    rating.append(i.text)
rating[:10]

['3.7', '4.4', '4.0', '5.0', '5.0', '4.3', '3.7', '3.0', '4.4', '4.4']

In [177]:
for i in driver.find_elements_by_xpath("//div[@class='mr-sm css-16h0h8a e1pr2f4f1']"):
     rating.append(i.text)
rating[:10]

['3.7', '4.4', '4.0', '5.0', '5.0', '4.3', '3.7', '3.0', '4.4', '4.4']

In [178]:
jobs=pd.DataFrame({})
jobs['company_names']=company_name[:10]
jobs['days_posted']=days_posted[:10]
jobs['rating']=rating[:10]

In [179]:
jobs

                  company_names days_posted rating
0                Biz2Credit Inc        30d+    3.7
1                         Adobe          4d    4.4
2          Emerging India Group        30d+    4.0
3               Dürr Somac GmbH        30d+    5.0
4                       WishFin         13d    5.0
5                  Yellow Class          1d    4.3
6                      Techlive        30d+    3.7
7           Kronos Incorporated          2d    3.0
8                       Dürr AG        30d+    4.4
9  Salasar New Age Technologies        30d+    4.4

# Q5: Write a python program to scrape the salary data for Data Scientist designationin Noida location.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
 https://www.glassdoor.co.in/Salaries/index.htm

In [6]:
#then again we will open web driver
driver=webdriver.Chrome('chromedriver.exe')

In [7]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [8]:
job_search=driver.find_element_by_id('KeywordSearch')
job_search.send_keys('Data Scientist')
    
location=driver.find_element_by_id('LocationSearch')
location.send_keys('Noida')

In [9]:
search_buton=driver.find_element_by_id("HeroSearchButton")
search_buton.click()

In [10]:
#specifying the url of the web page to be scraped
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'
driver.get(url)

In [11]:
Company_name=[]    
Number_of_salaries=[] 
Average_salary=[]
Min_salary=[]
Max_Salary=[]

In [12]:
for i in driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]"):
    Company_name.append(i.text)
Company_name[:10]

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'EXL Service']

In [13]:
for j in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
        Number_of_salaries.append(j.text)
Number_of_salaries[:10]

['13 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries']

In [14]:
for i in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"):
    Average_salary.append(i.text.replace('\n',""))
Average_salary[:10]

['₹ 12,64,182/yr',
 '₹ 7,41,935/yr',
 '₹ 5,99,668/yr',
 '₹ 9,94,055/yr',
 '₹ 7,39,040/yr',
 '₹ 13,37,114/yr',
 '₹ 7,80,374/yr',
 '₹ 11,98,792/yr',
 '₹ 10,08,143/yr',
 '₹ 11,34,989/yr']

In [15]:
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]"):
    Min_salary.append(i.text)
Min_salary[:10]

['₹450K',
 '₹420K',
 '₹336K',
 '₹577K',
 '₹587K',
 '₹717K',
 '₹502K',
 '₹621K',
 '₹793K',
 '₹576K']

In [17]:
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]"):
    Max_Salary.append(i.text)
Max_Salary[:10]

['₹11,630K',
 '₹1,614K',
 '₹1,010K',
 '₹2,215K',
 '₹2,732K',
 '₹1,575K',
 '₹1,152K',
 '₹1,696K',
 '₹1,264K',
 '₹1,500K']

In [19]:
jobs=pd.DataFrame({})
jobs['company_names']=Company_name[:10]
jobs['number_of_salaries']=Number_of_salaries[:10]
jobs['avg_salary']=Average_salary[:10]
jobs['min_salary']=Min_salary[:10]
jobs['max_salary']=Max_Salary[:10]
jobs

,company_names,number_of_salaries,avg_salary,min_salary,max_salary
0,Delhivery,13 salaries,"₹ 12,64,182/yr",₹450K,"₹11,630K"
1,Ericsson-Worldwide,11 salaries,"₹ 7,41,935/yr",₹420K,"₹1,614K"
2,Tata Consultancy Services,10 salaries,"₹ 5,99,668/yr",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055/yr",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040/yr",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114/yr",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374/yr",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792/yr",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143/yr",₹793K,"₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989/yr",₹576K,"₹1,500K"

# Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [72]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [73]:
driver.get('https://www.flipkart.com/')

In [74]:
search_product=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_product.send_keys('sunglasses')

In [75]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [76]:
#specifying the url of the web page to be scraped
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver.get(url)

In [77]:
Brand_Name=[]
Product_Description=[]
Price=[]
Discount=[]

In [81]:
for page in range(0,4):
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand_Name.append(i.text)
    for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(i.text)
    nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    if nxt_button.text=='Next':
        nxt_button.click()

In [82]:
#Creating dataFrame to save the scraped data of Flipkart_Review
import pandas as pd
Flipkart_Sunglass=pd.DataFrame({})
Flipkart_Sunglass['Brand Name']=Brand_Name[:100]
Flipkart_Sunglass['Price']=Price[:100]
Flipkart_Sunglass['Discount']=Discount[:100]
Flipkart_Sunglass['Product_Description']=Product_Description[:100]
Flipkart_Sunglass

,Brand Name,Price,Discount,Product_Description
0,POLOSHADES,₹189,81% off,"UV Protection, Gradient Retro Square Sunglasse..."
1,Aislin,₹475,68% off,"UV Protection, Gradient Butterfly, Wayfarer Su..."
2,Fastrack,₹599,33% off,UV Protection Aviator Sunglasses (Free Size)
3,Fastrack,₹499,37% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
4,ROZZETTA CRAFT,₹499,77% off,UV Protection Retro Square Sunglasses (Free Size)
...,...,...,...,...
95,Fastrack,₹599,33% off,UV Protection Cat-eye Sunglasses (58)
96,NuVew,₹195,75% off,"UV Protection, Gradient Retro Square Sunglasse..."
97,Fastrack,₹599,40% off,"UV Protection, Gradient Butterfly, Wayfarer Su..."
98,Online Mantra,₹150,70% off,UV Protection Aviator Sunglasses (Free Size)
99,ROZZETTA CRAFT,₹449,77% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."

# : Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace

In [118]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [119]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART')

In [120]:
#Lets make the blank lists:
Rating=[]
Review_Summary=[]
Full_Review=[]

In [126]:
for i in range(0, 10):
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(i.text)
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_Summary.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_Review.append(i.text)       
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [127]:
#Creating dataFrame to save the scraped data of Flipkart_Review
Flipkart_Review=pd.DataFrame({})
Flipkart_Review['Rating']=Rating[:100]
Flipkart_Review['Review Summary']=Review_Summary[:100]
Flipkart_Review['Full Review']=Full_Review[:100]
Flipkart_Review

,Rating,Review Summary,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,4,Worth every penny,It’s been almost a month since I have been usi...
98,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
99,5,Nice product,Awesome Phone. Slightly high price but worth. ...

# Q 8. Scrape data for first 100 sneakers you find when you visit flipkart.com
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [330]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [331]:
driver.get('https://www.flipkart.com/')

In [334]:
search_sneakers=driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')
search_sneakers.send_keys('sneakers')

In [335]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [336]:
Brand=[]
Product_Description=[]
Price=[]
discount=[]

In [338]:
for page in range(0,3):
    for i in driver.find_elements_by_xpath("//div[1][@class='_2WkVRV']"):
        Brand.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]"):
        Product_Description.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(i.text)
    nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    if nxt_button.text=='Next':
        nxt_button.click()

In [339]:
sneakers=pd.DataFrame({})
sneakers['brand']=Brand[:100]
sneakers['des']=Product_Description[:100]
sneakers['price']=Price[:100]
sneakers['discount']=discount[:100]
sneakers

,brand,des,price,discount
0,ZAPTOE,Boxer Sneakers For Men,₹249,50% off
1,BRUTON,MCW-145 Sneakers For Men,₹284,78% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹449,77% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
...,...,...,...,...
95,Axter,Combo Pack of 2 Latest Collection Stylish Casu...,₹284,71% off
96,ZOVIM,"casual , Partywear Sneakers Shoes For Men's an...",₹378,62% off
97,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹368,44% off
98,Restinfoot,"Casual shoes,Sneakers for men's,shoes for men'...",₹369,63% off
99,Stinson,Combo Pack Of 2 Sneakers For Men,₹399,60% off

# Q.9.Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data from 'https://www.myntra.com/shoes'

In [316]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [317]:
#lets open the automated website
driver.get('https://www.myntra.com/shoes')

In [318]:
#applying colour filter
driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()

In [320]:
#applying price filter between( rs 5357 to rs 10505) as 6649 to rs 13099 is not showing
driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()

In [321]:
#creating empty list
brand_name=[]
description=[]
prod_price=[]

In [322]:
for page in range(0,3):
    brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for brand in brands:
        brand_name.append(brand.text)
    descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for desc in descs:
        description.append(desc.text)
    prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for price in prices:
        prod_price.append(price.text)
driver.find_element_by_xpath('//a[@rel="next"]').click()

In [323]:
#creating dataframe to save the scraped data
myntra=pd.DataFrame({})
myntra['Brand']=brand_name[:100]
myntra['Prod_Desc']=description[:100]
myntra['Prod_Price']=prod_price[:100]
myntra[:100]

,Brand,Prod_Desc,Prod_Price
0,Puma,Men HYBRID NETFIT Running Shoe,Rs. 6599Rs. 10999(40% OFF)
1,ADIDAS Originals,Women Swift Run Sneakers,Rs. 7999
2,DIESEL,Men DANNY LC Sneakers,Rs. 9093Rs. 13990(35% OFF)
3,Kenneth Cole,Men Solid Leather Formal Derbys,Rs. 6293Rs. 8990(30% OFF)
4,DIESEL,Unisex IMAGINEE Sneakers,Rs. 5494Rs. 9990( 45 % OFF)
...,...,...,...
95,ADIDAS Originals,Women DEERUPT Runner Sneakers,Rs. 8999
96,ADIDAS Originals,Men Superstar Vegan Sneakers,Rs. 6399Rs. 7999(20% OFF)
97,Hush Puppies,Men Colourblocked Driving Shoes,Rs. 6299Rs. 8999(30% OFF)
98,Nike,Men KD13 EP Basketball Shoes,Rs. 9746Rs. 12995(25% OFF)
99,Cole Haan,Leather Sneakers,Rs. 8799Rs. 10999(20% OFF)

# Q.10   scrape first 10 laptops data(TITLE,RATING,PRICE) from www.aamazon.in

In [305]:
#lets first connect to web driver
driver= webdriver.Chrome('chromedriver.exe')

In [306]:
#lets open the automated website
driver.get(' https://www.amazon.in/')

In [307]:
#putting the desiareable product in the search box
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')

In [308]:
# To click the search button
driver.find_element_by_xpath('//input[@type="submit"]').click()

In [309]:
# applying the filter for Intel core i7
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a').click()

In [310]:
#applying the filter for Intel core i9
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()

In [311]:
#creating blank list
Title=[]
Price=[]
Rating=[]

In [312]:
#extracting title
for i in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']"):
    Title.append(i.text)  
Title[:10]

['Lenovo Yoga S940 Intel Core i7 10th Gen 14" UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows10 Pro/MS Office/Iron Grey/1.2Kg), 81Q80037IN',
 '(Renewed) Lenovo ThinkPad X1 Carbon 14-inch Laptop Thin,Powerful and Lightweight Core i7 6th Gen/8GB /256 GB SSD/Windows 10 Pro/MS Office 2019/More than 4 GB Intel HD Graphics,Backlit Keyboard),Black',
 '(Renewed) Lenovo ThinkPad X1 Carbon 14-inch Laptop Thin,Powerful and Lightweight(Core i7 6th Gen/8GB /128GB SSD/Windows 10 Pro/MS Office 2019/More than 4 GB Intel HD Graphics,Backlit Keyboard),Black',
 '(Renewed) Lenovo ThinkPad X1 Carbon 14-inch Laptop Thin,Powerful and Lightweight(Core i7 6th Gen/8GB /512 GB SSD/Windows 10 Pro/MS Office 2019/More than 4 GB Intel HD Graphics,Backlit Keyboard), Black',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'i7 Laptop FeedMe15.6 Inch 4500U Laptop 16GB RAM 3.0Ghz',
 'MSI Gaming GL65 Leopard , Intel 9th Gen. i7-9750H, 15.6" FHD Gaming Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX 1650/ Black/2.3Kg) 9SCXK-076IN',
 'Lenovo Yoga S740 Intel Core i7 10th Gen 14 inch UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows/Office/NVIDIA MX250 2GB/Iron Grey/1.4Kg), 81RS00B0IN',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/16GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'HP Pavilion x360 Core i7 8th Gen 14-inch Touchscreen 2-in-1 FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/2GB Graphics/Mineral Silver/1.59 kg), 14- dh0045TX and Bag Combo']

In [313]:
#extracting price
for i in driver.find_elements_by_xpath("//span[@class='a-price']"):
    Price.append(i.text)
Price[:10]

['₹1,19,990',
 '₹52,999',
 '₹51,999',
 '₹54,999',
 '₹50,999',
 '₹64,910',
 '₹1,10,000',
 '₹87,029',
 '₹72,805',
 '₹1,05,244']

In [314]:
#extracting ratings
ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
for rating in ratings:
    Rating.append(rating.get_attribute('aria-label'))
Rating[:10]

['3.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.3 out of 5 stars',
 '1.0 out of 5 stars',
 '3.8 out of 5 stars',
 '3.4 out of 5 stars',
 '3.8 out of 5 stars',
 '4.2 out of 5 stars',
 '2.4 out of 5 stars']

In [315]:
laptops=pd.DataFrame({})
laptops['Title']=Title[:10]
laptops['Price']=Price[:10]
laptops['Rating']=Rating[:10]
laptops

,Title,Price,Rating
0,"Lenovo Yoga S940 Intel Core i7 10th Gen 14"" UH...","₹1,19,990",3.3 out of 5 stars
1,(Renewed) Lenovo ThinkPad X1 Carbon 14-inch La...,"₹52,999",4.2 out of 5 stars
2,(Renewed) Lenovo ThinkPad X1 Carbon 14-inch La...,"₹51,999",4.2 out of 5 stars
3,(Renewed) Lenovo ThinkPad X1 Carbon 14-inch La...,"₹54,999",3.3 out of 5 stars
4,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"₹50,999",1.0 out of 5 stars
5,i7 Laptop FeedMe15.6 Inch 4500U Laptop 16GB RA...,"₹64,910",3.8 out of 5 stars
6,"MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...","₹1,10,000",3.4 out of 5 stars
7,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,"₹87,029",3.8 out of 5 stars
8,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,"₹72,805",4.2 out of 5 stars
9,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,"₹1,05,244",2.4 out of 5 stars